*{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "San Francisco", arial, sans-serif;
}
body{
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(/assets/people-3137670_1920.jpg);
    background-repeat: no-repeat;
}
header{
    background-color: black;
    text-align: center;
}
.left{
    position: absolute;
    left: auto;
    top: 275px;
    display: inline-block;
   
}
.left img{
    width: 45%;
    display: block;
    margin-left: 10px;
    margin-right: auto;
  
}
.left div{
    text-align: center;
}
.mid{
    text-align: center;
    display: block;
    width: 74%;
    top: 350px;
    margin-left: auto;
    margin-right: 50px;
    
}
.right{

    position: absolute;
    right: 34px;
    top: 340px;
    display: inline-block;
    border: 2px solid yellow;
}
.subbar{
    display: inline-block;

}
.subbar li{
    display: inline-block;
    font-size: 25px;
}
.subbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}
.button{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey ;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.button:hover{
        background-color: #333;
}
.card{
    margin: 30px;
    padding: 10px;
}
footer , nav{
    display: flex;
    background-color:#333 ;
    align-items: center;
    /*Grey Colour*/
}
footer a , nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: left ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section:nth-child(even) {
    background-color: #f7f7f7;
  }
section{
    text-align: center;
    padding: 75px 0px;
    height: 100%;
    min-height: 40vh;
    
}
section h2 {
    margin-bottom: 50px;
  }
section h2 span{
    padding: 10px 55px;
    border-radius: 20px;
    color: #fff;
    background: #120f5e;
    
}
/* h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: 700;
    position: absolute;
    top: 320px;
    color: #73AD21;
} */

.btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .btn:hover {background-color: #3e8e41}
  
  .btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
section img{
   float: right;
   
}
/* footer{
    overflow: hidden;
    background: #333;
    
}
footer a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: left ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
.Copyright{
    margin-left: auto;
}
.banner{
    background-image: url(assets/banner\ Gif.gif);
    height: 20vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: 50%;
}
.login-signup{
    margin-left: auto;
}
nav .menu-btn:hover{
    background-color: #ddd;
    color: black;
}
.carousel {
    background: #EEE;
  }
  
  .carousel-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
.profile_img{
    width: 45%;
    display: block;
    border-radius: 50%;
    font-weight: 900;
    letter-spacing:4px ;
    word-spacing: 10px;
    text-transform: uppercase;
    margin: 20px 0px 30px;
}
.sm-handle a{
    background-color: rgb(125  125 125 / 25%);
    padding: 10px 15px;
    border-radius: 30px;
    margin: 5px 10px;
    text-decoration: none;
    font-size: 1.25em;
}
.sm-handle a:hover{
    background-color: rgb(30 30 30 /25%);
}
.sm-handle a i{
    margin: 5px;
}
.yt_handle{
    color:#ff0000;

}
.linkedin_handle{
    color: #0e76a8;
}
.insta_handle{
    color: #dd2a7b;
}
.content {
   margin: 50px;
   color: #1c1a3a;
   font-weight: 900;
   padding-bottom: 10px 0px 20px 0px;
}
  
@media screen and (max-width: 700px) {
   footer , nav{
        flex-direction: column;
        padding: 10px 0px;
    }
    .login-signup{
        margin-left: 0;
    }
    
}